# C++ build artifacts
*.exe
*.out
*.app
*.o
*.obj
*.dll
*.so
*.dylib

# CMake build directories
build/
cmake-build-*/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini